**/package.json
compose.yaml
pnpm-lock.yaml
README.md
.eslintrc.json
.prettierrc

api/.github/**
api/build/**
api/codegen.yml
api/pnpm-lock.yaml
api/schema.graphql
api/schema.graphql.json
api/tsconfig.json
api/tsconfig.release.json

ui/postcss.config.js
ui/tailwind.config.js
ui/vite.config.ts
ui/tsconfig.json
ui/tsconfig.node.json
